[submodule "scripts"]
	path = scripts
	url = https://github.com/kellyselden/express-ember-cli-scripts.git
[submodule "client"]
	path = client
	url = https://github.com/kellyselden/ember-example.git
[submodule "server"]
	path = server
	url = https://github.com/kellyselden/express-example.git
