<button class="btn btn-lg btn-primary" {{action 'cancel'}}>Cancel</button>
{{#unless noSave ~}}
  <button class="btn btn-lg btn-primary" {{action 'save'}}>Save</button>
{{/unless ~}}
{{#unless noRemove ~}}
  {{#if model.id ~}}
    <button class="btn btn-lg btn-primary" {{action 'remove'}}>Remove</button>
  {{/if ~}}
{{/unless ~}}
