{{#if session.isWorking}}
  One sec while we get you signed in...
{{else}}
  <button {{action 'github'}}>github</button>
  <button {{action 'facebook'}}>facebook</button>
{{/if}}
{{#if session.isAuthenticated}}
  logged in
{{/if}}
