<h2>{{t "product.edit"}}</h2>

<table class="edit-table">
  {{#with model}}
    <tr>
      <td><label>{{t "product.name"}}</label></td>
      <td>{{input value=name}}</td>
    </tr>
  {{/with}}
</table>

{{edit-buttons model=model}}
