<div class="list-group">
  {{#each model}}
    {{link-to name "product" this class="list-group-item"}}
  {{/each}}
</div>

{{#link-to "products.create"}}
  <button class="btn btn-lg btn-primary">Create</button>
{{/link-to}}
