<h2>{{t "product.products"}}</h2>

<div class="list-group">
  {{#each model}}
    {{link-to name "product" this class="list-group-item"}}
  {{/each}}
</div>

{{#link-to "products.create"}}
  <button class="btn btn-lg btn-primary">{{t "buttons.create"}}</button>
{{/link-to}}
